<%-include("includes/layout.ejs")%>

<body>
<h1>Show Post</h1>
    <div>

        <h2><b>Id: </b>@<%=postData.id%></h2>
        <h2><b>username: </b>@<%=postData.username%></h2>
        <p><b>content: </b><%=postData.content%></p>
        <hr>
      </div>
    
</body>
</html>